{{#paper-nav-container}}
  <div style="display: flex; flex-direction: column; height: 100vh; width: 100%;">
    <md-toolbar style="flex: 0 0 auto;" class="ember-view md-default-theme">
      <div class="md-toolbar-tools">
        <span class="md-breadcrumb-page">Coolest Chat</span>
      </div>
    </md-toolbar>
    {{outlet}}
  </div>
{{/paper-nav-container}}
